{% extends "base.html" %}
{% block title %} Save Route
{% endblock %}
{% block content %}
<h1> Save Route</h1>

<div class="raw">
    <div class="col-md-4">
        <form action="{% url 'save_route' %}" method="post"> {% csrf_token %}
            {{ form.as_p }}
                {% for train in trains %}
            <p><small>{{train}}</small></p>
                {% endfor %}
            <button type="submit" class="btn btn-primary"> Save </button>
        </form>
    </div>
</div>
{% endblock %}